.events-list {
    padding: 0;
    /* border: 1px blue dashed; */
}

.events-list .event-card {
    /* border: 1px blue dashed; */
    border-top: solid 1px rgb(200,200,200);
    margin: 0 5%;
    width: auto;
    border-radius:0;
    transition: background-color 0.5s;
}

.events-list .event-card-link {
    grid-template-areas:
        "a a b b b"
        "a a b b b"
        "a a c c c";
    padding: 30px;
    column-gap: 20px;
}

/* .events-list .event-card .event-card-description {
    border: 1px blue dashed;
} */

/* .events-list .event-card-text {
    width: 2fr;
} */

.events-list h3 {
    font-size: x-large;
}

.events-list .event-card img {
    /* padding: 0;
    object-fit: contain; */
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.events-list .event-card:hover {
    background-color: rgb(240,240,240);
    box-shadow: none;
}

/* .events-list .event-card-top { */
    /* grid-template-rows: 1fr;
    align-items: center; */
    /* border: 1px blue dashed; */
/* } */
