#sign-up-form {
    max-height: 80vh;
    /* overflow: scroll; */
}

#sign-up-header {
    margin: 0 auto 5px auto;
    padding: 0;
    text-align: center;
}

#sign-up-form .form-error {
    /* width: 500px; */
    max-width: 300px;
    height: 10px;
    font-size: small;
}

#sign-up-form input {
    display: block;
}

.signup-first-last-inputs, .password-matching {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-areas: 'a b';
    /* display: flex; */
    column-gap: 8%;
}

#first-name {
    /* border: blue dashed 1px; */
    grid-area: a;
    /* display:inline; */
}

#last-name {
    /* border: blue dashed 1px; */
    grid-area: b;
    /* display:inline; */

}

@media screen and (max-height: 900px) {
    #sign-up-form {
        overflow: scroll;
    }
}
