* {
    --margin-left: 8%
}

.breadcrumb-link {
    margin-left: var(--margin-left);
}

.breadcrumb-link :not(i) {
    color: teal;
    text-decoration: underline;
    padding-left: 5px;
}

.group-details {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 5%;
    margin: 10px var(--margin-left) 20px;
    height: 300px;
}

.group-details img {
    height: 300px;
    object-fit: contain;
}

.groups-details-grey {
    color: grey;
    font-size: medium;
    margin: 0;
    padding: 10px 0;
}

.group-information h2 {
    margin-bottom: 0;
}

.group-information {
    display: grid;
    grid-template-rows: 4fr 1fr;
    height: 300px;
}

.button-options {
    align-self: end;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.button-options button {
    width: 200px;
}

.join-group-button {
    height: 40px;
}

.grey-bg {
    background-color: rgb(240,240,240);
    padding: 1% var(--margin-left);
}

.grey-bg * {
    margin: 0;
    padding: 3px 0;
}

.grey-bg p {
    padding-bottom: 10px;
}
