.breadcrumb-link {
    margin-left: var(--margin-left);
}

.breadcrumb-link :not(i) {
    color: teal;
    text-decoration: underline;
    padding-left: 5px;
}

.group-details {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 5%;
    margin: 10px var(--margin-left) 20px;
    height: 300px;
}

.group-details img {
    height: 300px;
    object-fit: contain;
}

.groups-details-grey {
    color: grey;
    font-size: medium;
    margin: 0;
    padding: 10px 0;
}

.group-information h2 {
    margin-bottom: 0;
}

.group-information {
    display: grid;
    grid-template-rows: 4fr 1fr;
    height: 300px;
}

#button-options {
    align-self: end;
    /* display: flex;
    flex-direction: column;
    row-gap: 5px; */
}

#button-options .join-group-button {
    font-size: large;
    width: fit-content;
    padding: 5px 10px;
}

#button-options :not(.join-group-button) {
    /* font-size: large;
    width: fit-content;
    padding: 5px 10px; */
    margin-right: 10px;
    margin-top: 10px;
    /* background-color: grey; */
    /* border: 1px blue solid; */
}

.join-group-button {
    height: 40px;
}

.grey-bg {
    background-color: rgb(240,240,240);
    padding: 1% var(--margin-left);
}

.grey-bg>h2, .grey-bg>p {
    margin: 0;
    padding: 3px 0;
}

.grey-bg>p {
    padding-bottom: 10px;
}

#no-upcoming-events {
    margin: 0;
    padding: 3px var(--margin-left) 50px var(--margin-left) ;
}

/****************** MEMBERSHIPS **********************/
#memberships-modal {
    margin: 0;
    padding: 0;
    max-width: 80vw;
    min-width: 300px;
    max-height: 80vh;
    overflow-y: scroll;
}

#memberships-modal h1 {
    margin: 0 auto;
}

#memberships-table {
    width: 100%;
}

#memberships-table td:first-of-type {
    text-align: left;
}

#memberships-table td:last-of-type {
    text-align: right;
}

#memberships-table button {
    max-width: 90%;
    padding: 5px;
}

.view-members-button {
    /* color: teal; */
    margin-top: 10px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: fit-content;
    height: fit-content;
}

.view-members-button:hover {
    text-decoration: underline;
    background-color: transparent;
}
