#event-create-form {
    margin: 0 var(--margin-left) var(--margin-left) var(--margin-left);
}

#event-create-form label {
    display: block;
    margin: 8px auto;
}

#event-create-form section {
    border-top: solid 1px rgb(200,200,200);
}

#event-price {
    text-align: right;
    width: auto;
}

.fa-calendar-days {
    margin-left: 8px;
    font-size: x-large;
    vertical-align:center;
}

/* #event-price::placeholder {
    text-align: right;
} */
