/* TODO Add site wide styles */
* {
    font-family: cursive;
    font-weight: bold;
    color: black;
    border-color: black;

    --margin-left: 10%;
    --reddish-color: rgb(255,100,100);
}

body {
    margin: 0px;
}

/* .body-container {
    padding: 20px;
} */

form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    /* column-gap: 5px; */
    justify-content: center;
    /* display: grid;
    row-gap: 5px; */
}

button {
    background-color: rgb(255,100,100);
    color: white;
    border-radius: 3px;
    box-shadow: 2px 2px rgb(50,50,50);
    border-style: solid;
}

button:hover {
    background-color: rgb(220,70,70);
    cursor: pointer;
}

button:disabled {
    background-color: white;
    color: grey;
    border-color: grey;
    box-shadow: 2px 2px grey;
    cursor: default;
}

label {
    width: 100%;
    /* margin: 10px 0;
    padding: 5px; */
}

input, textarea {
    background-color: rgb(230,240,255);
    border-radius: 3px;
    border-width: 1.5px;
    /* display: flex;
    justify-content: space-between; */
    width: 300px;
    margin: 0 auto;
    border-style: solid;
}

select {
    background-color: rgb(230,240,255);
    border-radius: 3px;
    border-width: 1.5px;
    display: block;
    /* margin: 0 auto; */
    border-style: solid;
}

textarea {
    height: 100px;
    resize: none;
}

input:focus {
    /* background-color: rgb(210,225,245); */
    border-radius: 3px;
}

.light-button {
    background-color: white;
    border-style: none;
    color: black;
    box-shadow: none;
}

.light-button:hover {
    background-color: rgb(255,220,220);
}

ul {
    list-style-type: none;
}

.active {
    color: teal;
    text-decoration: underline;
    pointer-events: none;
}

a {
    text-decoration: none;
}

.form-error * {
    margin: 0;
    padding: 0;
    color: red;
}

.form-error {
    height: 30px;
    color: red;
}

img {
    width: 100%;
}

.teal {
    color: teal;
}

.grey {
    color: grey;
}

.lighter {
    font-weight: lighter;
}

.small {
    font-size: small;
}

.no-margin {
    margin: 0;
    padding: 0;
}

.feature-create-button {
    padding: 5px 10px;
    width: fit-content;
    font-size: large;
}

.top-grey-line {
    border-top: solid 1px rgb(200,200,200);
}
