#welcome-container {
    display: flex;
    flex-direction: row;
}

.welcome-image {
    width: 50%;
    /* flex: 0 1 50%; */
}

#intro-container {
    /* margin: auto; */
    text-align: center;
}

#features-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

#features-container div {
    border: black solid 1px;
    border-radius: 5px;
    width: 90%;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.features-div * {
    text-decoration: none;
}

.features-div .feature-link {
    color: teal;
}

.features-div .feature-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.features-div i {
    margin: 5px;;
    font-size: 80px;
    color: rgb(255,100,100);
}

.features-div .features-caption {
    font-size: small;
    margin: auto;
}

.features-div .disabled-link {
    color: rgb(180,180,180);
    pointer-events: none;
}

#join-site-container {
    margin: 30px;
    text-align: center;
}

#join-site-container button {
    font-size: x-large;
}

/* #welcome-text {
    display: flex;
    width: 60px;
    text-wrap: wrap;
    border: pink 1px solid;
} */
