/* .profile-dropdown {
    background-color: pink;
} */

.hidden {
    display: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 0;
}

.profile-button {
    position: absolute;
    right: 10px;
}

.profile-dropdown {
    position: absolute;
    right: 10px;
    top: 40px;
    border: 1px black solid;
    padding: 10px;
    border-radius: 5px;
}
