
.infestation-logo {
    width: 200px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    border-bottom: 1px solid rgb(200,200,200);
}

.profile-button {
    position: absolute;
    right: 25px;
    margin: 15px 0;
}

.profile-dropdown {
    position: absolute;
    right: 25px;
    top: 55px;
    border: 1px black solid;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.profile-dropdown li {
    margin: 0 auto;
    text-align: center;
    font-size: small;
    padding: 2px;
}

.top-grey-line {
    border-top: solid 1px rgb(200,200,200);
}

.profile-dropdown .light-button {
    width: 100%;
    padding: 5px;
}

.new-group-link {
    position: absolute;
    right: 75px;
    color: teal;
    margin: 15px 0;
}

.new-group-link:hover {
    cursor: pointer;
    text-decoration: underline;
}
