#login-title {
    text-align: center;
    margin: 0 auto 5px auto;
    padding: 0;
}

#login-form input{
    display: block;
    margin-top: 8px;
    width: 350px;
}

#demo-login {
    border: none;
    box-shadow: none;
    background-color: white;
    color: teal;
    width: auto;
    margin: 0 auto;
    font-size: small;
    text-decoration: underline;
}

#login-form .form-error {
    font-size: small;
    max-width: 350px;
    height: 20px;
}
