#login-title {
    text-align: center;
    margin-top: 0;
    padding: 0;
}

#demo-login {
    border: none;
    box-shadow: none;
    background-color: white;
    color: teal;
    width: auto;
    margin: 0 auto;
    font-size: small;
    text-decoration: underline;
}
